.carousel-sect {
    padding: 24px 0;
    position: relative;
}

.arrow-section {
    position: absolute;
    z-index: 99;
    top: 47%;
    padding: 24px;
    width: auto;
    background-color: #505050d1;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

}

.card {
    flex: 0 0 auto;
    width: 20vw;
    cursor: pointer;
}

.thumb-image-sect {
    position: relative;
}

.thumb-image-sect-overlay-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #000000d4;
    padding: 24px 16px;
}

.adult-tag {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    padding: 16px;
    border-bottom-left-radius: 16px;
    color: #fff;
}

.free-tag {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #078c3f;
    padding: 16px;
    border-bottom-left-radius: 16px;
    color: #fff;
}

.genres {
    display: table;
    padding: 16px 0;
}

.genre-card {
    display: inline-grid;
    background-color: #810d1a;
    color: #fff;
    padding: 4px;
    margin: 4px 6px;
    border: 1px solid #fff;
    border-radius: 6px;
}